/* ~~~~~~~~~~~~~~~ Reset Style ~~~~~~~~~~~~~~~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
html {height: 100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
body {
    color: white;
    /* background: linear-gradient(160deg, #0c0c0c 65%, #7700ff 45%); */
    background: url(../img/background.png);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.form {
    /* background-color: #ffffff27; */
    border: solid 2px #ffffff3a;
    border-radius: 20px;
    background: linear-gradient(155deg, #ffffffa6 0%, #ffffff5d 0.01%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(10px);
    width: 23%;
    height: 520px;
    margin: 90px auto;
    padding: 48px;
}
.form_text {
    margin: 50px auto 0 auto;
    font-size: 32px;
    width: 80%;
}
.form_info {
    margin-top: 10px;
    font-size: 12px;
    width: 80%;
    color: #ffffffd0;
}
.form_items {
    width: 80%;
    margin: 41px auto;
}
.form_item__input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #ffffff65;
    width: 100%;
    padding: 19px 0 5px;
    margin-top: 12px;
    color: #ffffff;
    outline: none;
    transition: 0.3s;
}
.form_item__label {
    position: absolute;
    margin-top: -24px;
    display: flex;
    pointer-events: none;
    transition: 0.3s;
    color: #ffffff65;
  }
input::-webkit-input-placeholder {color: transparent;}
.form_item__input:focus {border-bottom: solid 1px #7700ff;}
.form_item__input:focus~.form_item__label,
.form_item__input:not(:placeholder-shown)~.form_item__label {
    margin-top: -38px;
    color: #7700ff;
}
.form_button {
    display: inline-block;
    background-color: #7700ff;
    border-radius: 12px;
    padding: 21px 24.5%;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10.3%;
    transition: 0.3s;
}
.form_button:hover {
    box-shadow: 0 5px 25px #7700ff52;
}