*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mochiy Pop One', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #252839;
}
ul{
	position: relative;
	display: flex;
	gap: 70px;
}
ul li:nth-child(1) {--clr: #00ade1;}
ul li:nth-child(2) {--clr: #00dc82;}
li{
	position: relative;
	list-style: none;
}
a{
	font-size: 4em;
	text-decoration: none;
	letter-spacing: 2px;
	line-height: 1.2em;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
a::before{
	content: attr(data-text);
	position: absolute;
	color: var(--clr);
	height: 0;
	overflow: hidden;
	transition: 1.2s;
	border-bottom: 8px solid var(--clr);
	-webkit-text-stroke: 1px var(--clr);
}
a:hover::before{
	height: 100%;
	filter: drop-shadow(0 0 25px var(--clr))
}